body {
	font-family: Sans-Serif;
}

table {
	width: 100%;
}

th {
	text-align: left;
	border-bottom: black solid thin;
}

td {
	border-bottom: black dotted thin;
}

.amount {
	text-align: right;
}

.report_title {
	text-align: center;
	font-weight: bold;
}